.logo{
    height: 150px;
    width: 100%;
    margin: auto;
}
.logo1{
    height:100px;
    width:350px;
    margin: auto;
}
.menu{
    height: 70px;
    width: 100%;
    background-color: rgb(192, 217, 238);
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 30px;
    color: white;   
    margin: auto;
}
.menu1{
    width: 80%;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    display: flex;
  
}

.slide{
    height: 50%;
    width: 80%;
    margin: auto;
}

.card{
    margin: auto;
    height: 50vh;
    width: 100%;
}
.rodape1{
    background-color: rgb(192, 217, 238);
    padding-top: 10px;
}
.rodape2{
    background-color: rgb(26, 24, 24);
    color: white;
    margin: auto;
    justify-content: space-between;
    text-align: right;
}
